acl = {
  enabled = true
  down_policy = "extend-cache"
  default_policy = "deny"
  enable_key_list_policy = true
  enable_token_persistence = true
}

bind_addr = "{{ ansible_default_ipv4.address }}"
{% if 'manager' in group_names %}
bootstrap_expect = {{ groups['manager'] | length }}
client_addr = "0.0.0.0"
{% endif %}

// config_entries = {
//   {% if 'manager' in group_names %}
//   bootstrap = {
//     // @TODO https://developer.hashicorp.com/consul/docs/fundamentals/config-entry
//   }
//   {% endif %}
// }

datacenter = "{{ nomad_main_datacenter_name }}"
data_dir = "/opt/consul"
disable_anonymous_signature = true
disable_remote_exec = true //@TODO ???
disable_update_check = true
discard_check_output = true //@TODO ???
discovery_max_stale = "87600h" //@TODO ???
enable_agent_tls_for_checks = false //@TODO ???
enable_local_script_checks = true
{% if 'manager' in group_names %}
encrypt = "{{ hostvars[groups['manager'][0]]['consul_encryption_string'] }}"
{% endif %}
node_name = "{{ inventory_hostname_short }}"

performance = {
  enable_xds_load_balancing = true //@TODO ???
  raft_multiplier = 1
}

// pid_file = "" //@TODO ???
primary_datacenter = "{{ nomad_main_datacenter_name }}"

retry_join = [
  {% for host in groups['manager'] %}
  "{{ host }}"{% if not loop.last %},{% endif %}

  {% endfor %}
]

{% if 'manager' in group_names %}
server = true
{% endif %}
translate_wan_addrs = true //@TODO ???

{% if 'manager' in group_names %}
ui_config {
  enabled = true
}
{% endif %}
