bind_addr = "{{ ansible_default_ipv4.address }}"
{% if 'manager' in group_names %}
bootstrap_expect = {{ groups['manager'] | length }}
client_addr = "0.0.0.0"
{% endif %}

// config_entries = {
//   {% if 'manager' in group_names %}
//   bootstrap = {
//     // @TODO https://developer.hashicorp.com/consul/docs/fundamentals/config-entry
//   }
//   {% endif %}
// }

datacenter = "{{ nomad_main_datacenter_name }}"
data_dir = "/opt/consul"
disable_anonymous_signature = true
disable_remote_exec = true //@TODO ???
disable_update_check = true
discard_check_output = true //@TODO ???
discovery_max_stale = "87600h" //@TODO ???



retry_join = [
  {% for host in groups['manager'] %}
  "{{ host }}"{% if not loop.last %},{% endif %}

  {% endfor %}
]

{% if 'manager' in group_names %}
server = true
{% endif %}

ui_config {
  enabled = true
}