job "csi-plugin" {
    namespace = "system"
    type      = "system"

    constraint {
        attribute = "${node.class}"
        operator  = "="
        value     = "main-worker"
    }

    group "k8s-nfsplugin" {
        task "plugin" {
            driver = "docker"

            config {
                args = [
                    "-drivername=csi.cloudskeleton.eu",
                    "-nodeid=${attr.unique.hostname}",
                    "-v={{ csi_plugin_log_level }}"
                ]
                cpu_hard_limit = true
                image          = "registry.k8s.io/sig-storage/nfsplugin:v{{ csi_plugin_version }}"
                privileged     = true
            }

            csi_plugin {
                id        = "csi.cloudskeleton.eu"
                mount_dir = "/tmp"
                type      = "monolith"
            }

            resources {
                cpu    = 50
                memory = 16
            }
        }
    }
}